$yellow: #fffa19;
$green:#2ac754;
$red:#c40a0a;

@mixin margenes($top, $bottom){
    margin-top:$top;
    margin-bottom:$bottom;
}

.jumbotron{
    background-color: $yellow;
    color:black;
    @include margenes(50px,0px);
}
footer{
    padding: 10px 10px 0 10px;
    background-color: $green;
    @include margenes(10px,0px);
}
.card-hotel{
    flex: 1 200px;
    padding: 2px 0px 2px 0px;
    @include margenes(10px,0px);
 
}

.btn-reserva{
    width: 100%;
    border-radius:0px;
}
.footer-address-icon{
    padding-right:10px;
}
.tab-content{
    padding-top:10px;
}